/* Sidebar styles */
.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: #000; /* Changed background color to black */
    font-family: 'Arial', sans-serif;
}

/* Sidebar links styles */
.sidebar ul.list-unstyled li a {
    color: #fff; /* Changed font color to white */
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}


/* Hover effect */
.sidebar ul.list-unstyled li a:hover {
    background-color: #888; /* Gray hover effect */
    color: #fff; /* White text on hover */
}

/* Active link styles */
.sidebar ul.list-unstyled li a.active {
    background-color: gray; /* Black background for selected item */
    color: #fff; /* White text for selected item */
}

/* Content styles */
.content {
    margin-left: 250px;
    padding: 15px;
}


.custom-pr-3 {
    padding-left: 2.96rem; /* Adjust the padding value as needed */
}

.border-top {
    border-left: 0px;
    border-top: 1px solid #000;
    border-right: 0px;
    border-bottom: none;
}
.border-none {
    border: 0px !important;
}

.custom-pt-7{
    padding-top: 8rem; /* Adjust the padding value as needed */
}

.custom-pt-12{
    padding-top: 10rem; /* Adjust the padding value as needed */
}

.invoice-button {
    width: 200px; /* Adjust the width to your preference */
}

.card {
    background-color: white; /* Set the background color of the card to white */
}

.card-text {
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add padding to create space around the text */
    margin-bottom: 10px; /* Add margin between the boxes */
}

.custom-box {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}