<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../shipments/components/sidebar.ejs') %>
    <div class="content">
        <div class="container text-center">
            <h1 class="mt-2">Tracking Page</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="container mt-4">
                  <table class="table table-bordered" id="descriptionTable">
                    <thead>
                      <tr>
                        <th>（出荷日）
                            ■出荷フォルダ</th>
                        <th>FBA17GZYW012</th>
                        <th></th>
                        <th>File name</th>
                        <th>発送金額</th>
                        <th>発送先</th>
                        <th>箱番号</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>容積重量</th>
                        <th>比較大</th>
                        <th>合計</th>
                        <th>比較大</th>
                        <th>合計</th>
                        <th>比較大</th>
                        <th>合計</th>
                        <th>請求重量</th>
                        <th>Status</th>
                        <th>集荷番号</th>
                        <th>追跡チェック</th>
                        <th>トラッキングNo</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>納品名</th>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div class="container mt-12 d-flex justify-content-center">
                  <button id="nextButton" class="btn btn-primary btn-lg" onclick="showNextTable()">Next</button>
              </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
